models

# may contain private keys, passwords, etc.
.env
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/local-llm.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
